$mild-grey: #545454;

a {
  color: $mild-grey;
  text-decoration: none;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;

  span { font-size: 1.9rem; }
}

h4 {
  font-size: 1.4rem;
  font-weight: normal;
  color: $mild-grey;
}

body {
  font-family: 'Roboto', sans-serif;
  
  .App {
    margin: 10vh 25%;
    width: 50%;

    header h4 { margin: 1vh 0 5vh }

    ul { 
      li {
        color: $mild-grey;
        font-size: 1.4rem;
  
        h4 { margin-left: 1.5rem; }
      }
      // list-style: none;

      // li:before { 
      //   content: "•"; 
      //   font-size: 2rem; 
      //   color: $mild-grey;
      // }
    }
  }
}